<table class="table table-bordered">
  <thead>
    <tr>
      <th>今日の投稿数</th>
      <th>前日の投稿数</th>
      <th>前日比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= books.today_book.count %></td>
      <td><%= books.yesterday_book.count %></td>
      <td>
        <% if books.yesterday_book.count == 0%>
          投稿なし
        <% else %>
          <% @the_day_before = books.today_book.count / books.yesterday_book.count.to_f %>
          <%= (@the_day_before * 100).round %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>今週の投稿数</th>
      <th>前週の投稿数</th>
      <th>前週比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= books.this_week_book.count %></td>
      <td><%= books.last_week_book.count %></td>
      <td>
        <% if books.last_week_book.count == 0 %>
          投稿なし
        <% else %>
          <% @the_week_before = books.this_week_book.count / books.last_week_book.count.to_f %>
          <%= (@the_week_before * 100).round %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>